.form-control {
    .label {
      color: #373737;
      margin-bottom: 0.6rem !important;
      font-size: 1rem;
    }
  
    .text-red {
      color: red;
    }
  
    .text-grey-2 {
      color: #afafaf;
    }
  
    .text-secondary {
      color: #373737;
    }
  }
  