.seats-container {
}

.seat {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
}
.seat-2 {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;

  
}

.seat-none{
  // background-color: #ccc;
  // border: 1px solid #aaa;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
}

.seat.selected {
  background-color: rgb(0, 174, 255);
  color: #fff;
}
.seat.disabled-pending {
  pointer-events: none;
  background-color: rgb(102, 255, 0);
}
.seat.disabled-sale {
  pointer-events: none;
  background-color: rgb(217, 255, 0);
}

.seat-2.selected {
  background-color: rgb(0, 174, 255);
  color: #fff;
}
.seat-2.disabled-pending {
  pointer-events: none;
  background-color: rgb(102, 255, 0);
}
.seat-2.disabled-sale {
  pointer-events: none;
  background-color: rgb(217, 255, 0);
}
